/* --------------------------------------------------------------------------/*
/* Headings */
h2 {
  color: #BB0000;
  margin-top: 50px;
}
h3 {
  margin-top: 35px;
  font-size: 1.5em;
  font-weight: normal;
}
h4 {
  font-size: 1.25em;
  margin-top: 25px;
}

/* Code boxes */
/* Regular R output: */
.regular-r-output {
  color: rgb(141, 141, 143); !important
}

/* Warning R output: */
.warning-r-output {
  color: darkorange; !important
}

/* Error R output: */
.error-r-output {
  color: red; !important
}

.cell-output {
    background-color: #e4e7ed;
    padding: 5px 5px 0px 10px;
    border-radius: 0px;
    border-style: none;
    border-width: 1px;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #030303;
    margin: -18px 0px 15px 0px;
    font-style: italic;
    color: rgb(141, 141, 143); !important
}

.styled-output {
  color: rgb(141, 141, 143); !important
}

.bash-in-nocolor {
    background-color: #f0f3f4;
    padding: 5px 5px 5px 10px;
    border-radius: 0px;
    border-style: none;
    border-width: 1px;
    margin: 0px 0px 15px 0px;
}

.bash-out {
    background-color: #e4e7ed;
    padding: 5px 5px 0px 10px;
    border-radius: 0px;
    border-style: none;
    border-width: 1px;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #030303;
    margin: -18px 0px 15px 0px;
    font-style: italic;
    color: rgb(141, 141, 143);
}

.bash-out-solo {
    background-color: #e4e7ed;
    padding: 5px 5px 5px 10px;
    border-radius: 0px;
    border-style: none;
    border-width: 1px;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #030303;
    margin: 0px 0px 15px 0px;
    font-style: italic;
    color: rgb(141, 141, 143);
}

/* For manual/fake R output boxes: */
.r-out {
    background-color: #e4e7ed;
    padding: 5px 5px 0px 10px;
    border-radius: 0px;
    border-style: none;
    border-width: 1px;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #030303;
    margin: -18px 0px 25px 0px;
    font-style: italic;
    color: rgb(141, 141, 143);
}

/* For manual/fake R output boxes that are by themselves (not below source boxes): */
.r-out-solo {
    background-color: #e4e7ed;
    padding: 5px 5px 5px 10px;
    border-radius: 0px;
    border-style: none;
    border-width: 1px;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #030303;
    margin: 0px 0px 20px 0px;
    font-style: italic;
    color: rgb(141, 141, 143);
}

/* --------------------------------------------------------------------------/*
/* Other */
.exercise {
  padding: 0.5em;
  margin: 0.5em;
  padding-left: 10px;
  color: #12433A; /*#1f5386; */
  border: solid 2px #7a767a;
  border-radius: 25px;
}

figure figcaption {
  text-align: center;
}

.legend2 {
  text-align: center !important;
  color: #bebfc2 !important;
  font-size: 0.9em !important; 
  font-style: italic !important;
  margin-top: -30px;
}

/* --------------------------------------------------------------------------/*
/* details sections */
details > summary {
  padding-top: 4px;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-left: 10px;
  background-color: #EDEFE8;
  border: none;
  border-radius: 25px;
}

details {
  border-radius: 25px;
  /* background-color: #EDEFE8; */
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 6px;
  margin-top: 0px;
  margin-left: 5px;
  border-width: 1px;
  border-left-width: 3px;
  border-style: solid;
  border-color: #d9d7d9;
  border-left-color: #919091;
  border-radius: 5px;
}

details > p {
  margin-top: 5px; /* or padding-top, depending on desired effect */
}
